# Entornos virtuales
venv/
env/
ENV/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Directorio de instancia de Flask
instance/

# Archivos de configuración sensibles (variables de entorno)
.env

# Caché generada por pytest y coverage
.pytest_cache/
.coverage
htmlcov/

# Otros archivos generados automáticamente
__pycache__/

